/* Global */
:root {
/* App colors */
--color-primary: var(--color-black);
--color-primary-variant: var(--color-purple);
--color-accent: var(--color-orange);
--color-text: var(--color-white);

/* Colors */         
--color-white: #f8f8f8;
--color-black: #171717ec;
--color-orange: #F8771F;
--color-purple: #6B6AB0;
--color-gray: #1f1f1f;

/* Size */
--size-max-width: 1200px
}


* {
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
}
 
h1, h2, h3, p, ul {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    color: var(--color-text);
}

button {
    background-color: transparent;
    outline: 0;
    border: 0;
}
button:focus {
    outline: 1px solid var(--color-accent)
}
/* Common */
.section {
    padding: 4rem;
    text-align: center;
}
.title {
    font-size: 2.5rem;
    margin: 1rem 0;
}
.description {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}
.max-container {
    max-width: var(--size-max-width);
    margin: 0 auto;
}
/* Header */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary);

}

.header__logo {
    display: flex;
    align-items: center;
    gap: 8px;
}
.header__logo__img {
    width: 36px;
    width: 36px;
}
.header__logo__title {
    font-size: 1.8rem;
}
.header__menu {
    display: flex;
    gap: 4px;
}
.header__menu__item {
    padding: 8px 16px;
}
.header__menu__item:hover {
    border-bottom: 2px solid var(--color-primary-variant);
} 

/* Home */
#home {
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 5rem 1rem;
    padding-top: 7rem ;
    text-align: center;
}

.home_avartar {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 100%;
    border: 10px solid var(--color-accent);
}
.home__title {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.home__title--strong {
    color: var(--color-accent);
}
.home__description {
    font-size: 1.5rem;
}
.home__contact {

    display: inline-block;
    background-color: var(--color-primary-variant);
    padding: 0.5rem 1rem;
    font-weight: bold;
    color: var(--color-text);
    margin: 1.5rem;
    border-radius: 4px;
}
.home__contact:hover {
    background-color: transparent;
    outline: 2px solid var(--color-accent);
}
/* about */
.majors {
    display: flex;
    gap: 3rem;
    margin: 2.5rem 0;
    flex-grow: 1;
    justify-content: center;
}
.major {
    background-color: var(--color-primary);
    padding: 2rem 1rem;
    color: var(--color-text);
    border-radius: 1rem;
    cursor: default;
    box-shadow: 0 20px 50px rgba(188, 182, 255, 0.7);
}
.major__icon {
    font-size: 4rem;
    color: var(--color-primary-variant);
    margin: 1rem 0;
    transition: all 300ms ease-in;
}
.major__title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.major:hover .major__icon {
    transform: rotate(-9deg) scale(1.2);
}
/* Skills */
#skills {
    background-color: var(--color-primary);
    color: var(--color-text);
}
.skills {
    display: grid;
    grid-template-columns: 6fr 4fr;
    margin: 4rem 3rem;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    
    

}
.skills__title {
    color: var(--color-accent);
    margin: 1rem 0;
    font-size: 1.3rem;
}
.skills__coding {
    grid-row: span 2;
    padding: 2rem;
    background-color: var(--color-primary);
    font-size: x-large;
}
.skills__tools {
    padding: 1rem;

}
.skills__etc {
    padding: 2rem;
    background-color: var(--color-primary);
    filter: brightness(150%);        

}
.skills__title div {
    padding: 1rem;
    display: inline-block; 
    text-align: center; 
    justify-content: space-between;
}
.skills__coding a {
    padding-bottom: 7px;
}


/* Goal */
.goals {
    margin: 3rem;
}
.goal {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
    align-items: center;
}
.goal:nth-child(even) .goal__img {
    order: 1
}
.goal__img {
    font-size: 120px;
    /* box-shadow: 0 8px 30px rgba(26, 25, 25, 0.12); */
}
.goal__bubble {
    padding: 1rem;
    border-radius: 8ox;
    box-shadow: 6px -11px 38px 0px var(--color-primary-variant)
}
/* Arrow up */
.arrow-up {
    background-color: var(--color-primary);
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    font-size: 3rem;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 100%;
    text-align: center;
    box-shadow: 5px 5px 0px 0px var(--color-accent);
}
/* Footer */
#contact {
    background-color: var(--color-primary);
    color: var(--color-text);
}
.contact__links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    font-size: 2rem;
}
.contact__link {
    transition: color 250ms ease-in;
}
.contact__link:hover {
    color: var(--color-primary-variant);
}